 .AnimationController
 {
   border       : 1px solid black;
   border-radius: 5px;
   margin-top   : 8px;
   padding      : 10px;
   width        : 280px;
   height       : 40px;
 }


.AnimationController_button
{
  float : left;
  margin: 3px;
}


.AnimationController_slider
{
  width   : 100px;
  position: relative;
  left    : 160px;
  top     : 7px;
}


.AnimationController_label
{
  position   : absolute;
  text-align : center;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size  : 9pt;
}